<div class="menu-item-inner">
	<div class="menu-graphic">
		<img src="{{graphic.src}}" alt="{{graphic.alt}}" />
	</div>
	<div class="menu-item-title">
		<h2 class="menu-item-title-inner">{{{title}}}</h2>
	</div>
	<div class="menu-item-body">
		<div class="menu-item-body-inner">{{{body}}}</div>
	</div>
	<div class="menu-item-button">
		<a href="#/id/{{_id}}" class="{{#if _isVisited}}visited{{/if}}">
			{{{linkText}}}
		</a>
	</div>
</div>